<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://jaredschilling.getforge.io/">Jared Schilling</a>. It took him almost 34 years, but he did it.
  </p>

  <div class="row" style="padding-top:40px;">
    <div class="col-12 col-sm-4" style="text-align:center;">
      <%= image_tag 'jared.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jared Schilling</h2>
      <br />
      <p>
        Jared is a former professional poker player who likes to awkwardly work into conversations that he has a degree in aerospace engineering. His real passion, though, is in building web applications.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />